<!DOCTYPE HTML>
<html lang="en-US">
<meta http-equiv="Pragma" content="no-cache">

<head>
<title>Data Quality - Run %run% - Wien %wien%</title>
</head>

<body>
<h2>Data Quality - Run %run% - Wien %wien%</h2>

<h3>BCM</h3>
<center>
<img width="600" src="parity/offoff/bcm/bcm_histogram.png" />
<p>BCM histogram</p>
</center>

<center>
<img width="600" src="parity/offoff/bcm/bcm_rms_vs_runlet.png" />
<p>BCM RMS versus runlet</p>
</center>

<center>
<img width="600" src="parity/offoff/bcm/bcm_vs_runlet.png" />
<p>BCM versus runlet</p>
</center>

<center>
<img width="600" src="parity/offoff/bcm/bcm_weighted_by_mdallbars_error.png" />
<p>BCM weighted by MDallbars error</p>
</center>

<center>
<img width="600" src="parity/offoff/bcm/bcm_weighted_by_own_error.png" />
<p>BCM weighted by own error</p>
</center>

<center>
<img width="600" src="parity/offoff/bcmdd/bcmdd_histogram.png" />
<p>BCM DD histogram</p>
</center>

<center>
<img width="600" src="parity/offoff/bcmdd/bcmdd_pull_plot.png" />
<p>BCM DD pull plot</p>
</center>

<center>
<img width="600" src="parity/offoff/bcmdd/bcmdd_rms_vs_runlet.png" />
<p>BCM DD RMS versus runlet</p>
</center>

<center>
<img width="600" src="parity/offoff/bcmdd/bcmdd_vs_runlet.png" />
<p>BCM DD versus runlet</p>
</center>

<center>
<img width="600" src="parity/offoff/bcmdd/bcmdd_weighted_by_mdallbars_error.png" />
<p>BCM DD weighted by MDallbars error</p>
</center>

<center>
<img width="600" src="parity/offoff/bcmdd/bcmdd_weighted_by_own_error.png" />
<p>BCM DD weighted by own error</p>
</center>

<h3>MD</h3>
<center>
<img width="600" src="parity/on/mdallpmtavg/mdallpmtavg_histogram.png" />
<p>MDallpmtavg histogram</p>
</center>

<center>
<img width="600" src="parity/on/mdallpmtavg/mdallpmtavg_pull_plot.png" />
<p>MDallpmtavg pull plot</p>
</center>

<center>
<img width="600" src="parity/on/mdallpmtavg/mdallpmtavg_rms_vs_runlet.png" />
<p>MDallpmtavg RMS versus runlet</p>
</center>

<center>
<img width="600" src="parity/on/mdallpmtavg/mdallpmtavg_vs_runlet.png" />
<p>MDallpmtavg versus runlet</p>
</center>

<h3>USlumi</h3>
<center>
<img width="600" src="parity/on/uslumi/uslumi_histogram.png" />
<p>USlumi histogram</p>
</center>

<center>
<img width="600" src="parity/on/uslumi/uslumi_pull_plot.png" />
<p>USlumi pull plot</p>
</center>

<center>
<img width="600" src="parity/on/uslumi/uslumi_rms_vs_runlet.png" />
<p>USlumi RMS versus runlet</p>
</center>

<center>
<img width="600" src="parity/on/uslumi/uslumi_vs_runlet.png" />
<p>USlumi versus runlet</p>
</center>


</body>

</html>
