mon qwk_targetX
mon qwk_targetXSlope
#mon qwk_energy
mon qwk_bpm3c12X
mon qwk_targetY
mon qwk_targetYSlope
det qwk_mdallbars
#det qwk_md1barsum
#det qwk_md3barsum

#mon qwk_targetX
#mon qwk_targetY
#mon qwk_bpm3c12X
#det qwk_mdallbars
#det qwk_md3barsum
#det qwk_md1barsum

#This doesn't work so well right now
#mon qwk_targetX
#mon qwk_targetXP
#mon qwk_bpm3c12X
#det qwk_mdallbars