mon qwk_targetX
mon qwk_targetXSlope
mon qwk_bpm3c12X
mon qwk_targetY
mon qwk_targetYSlope

det qwk_mdallbars
det qwk_md1barsum
det qwk_md2barsum
det qwk_md3barsum
det qwk_md4barsum
det qwk_md5barsum
det qwk_md6barsum
det qwk_md7barsum
det qwk_md8barsum
det qwk_md9barsum
det qwk_dslumi1
det qwk_dslumi2
det qwk_dslumi3
det qwk_dslumi4
det qwk_dslumi6
det qwk_dslumi7
det qwk_dslumi8
det uslumi_sum
det uslumi1
det uslumi3
det uslumi5
det uslumi7
det qwk_pmtltg
det qwk_pmtonl
det qwk_bcm1
det qwk_bcm2
det qwk_bcm5
det qwk_bcm6
det qwk_bcm7
det qwk_bcm8