mon qwk_targetX
mon qwk_targetXSlope
mon qwk_bpm3c12X
mon qwk_targetY
mon qwk_targetYSlope

det qwk_mdallbars
det qwk_md1neg
det qwk_md2neg
det qwk_md3neg
det qwk_md4neg
det qwk_md5neg
det qwk_md6neg
det qwk_md7neg
det qwk_md8neg
det qwk_md9neg
det qwk_md1pos
det qwk_md2pos
det qwk_md3pos
det qwk_md4pos
det qwk_md5pos
det qwk_md6pos
det qwk_md7pos
det qwk_md8pos
det qwk_md9pos
