mon qwk_targetX
mon qwk_targetXSlope
mon qwk_bpm3c12X
mon qwk_targetY
mon qwk_targetYSlope

det qwk_mdallbars
det qwk_md1barsum
det qwk_md2barsum
det qwk_md3barsum
det qwk_md4barsum
det qwk_md5barsum
det qwk_md6barsum
det qwk_md7barsum
det qwk_md8barsum
det qwk_md9barsum
det qwk_md1neg
det qwk_md2neg
det qwk_md3neg
det qwk_md4neg
det qwk_md5neg
det qwk_md6neg
det qwk_md7neg
det qwk_md8neg
det qwk_md9neg
det qwk_md1pos
det qwk_md2pos
det qwk_md3pos
det qwk_md4pos
det qwk_md5pos
det qwk_md6pos
det qwk_md7pos
det qwk_md8pos
det qwk_md9pos
det qwk_dslumi1
det qwk_dslumi2
det qwk_dslumi3
det qwk_dslumi4
det qwk_dslumi5
det qwk_dslumi6
det qwk_dslumi7
det qwk_dslumi8
det uslumi_sum
det uslumi1_sum
det uslumi3_sum
det uslumi5_sum
det uslumi7_sum
det qwk_pmtltg
det qwk_pmtonl
det qwk_bcm1
det qwk_bcm2
det qwk_bcm5
det qwk_bcm6
det qwk_bcm7
det qwk_bcm8
det qwk_charge
