# Configuration file for the online GUI 
# This file is for ADCs
#  All lines containing "#" are treated as comments (ignored)
#  Last line MUST be blank.
#  Multiple spaces are treated as one space.
# To switch to log scale, add the option logy after the name of 
# the histogram 

# Default root file to look at
rootfile pan.root

# Prototype rootfilename.. overrides GetRootFileName.C
# protorootfile /adaql1/work1/parity/parity04_XXXXX_standard.root

# Defined cuts
# View last 1 minute of helicity windows (assumes no oversampling)
definecut raw_evcut  (Entries$-Entry$)<5000
# View last 1 minute of helicity pairs (assumes no oversampling)
definecut pair_evcut (Entries$-Entry$)<900

# Uncomment the below line to monitor the fill of a ROOTfile.
watchfile

newpage 2 2
	title ADC27 1D
	adc27_0_cal
	adc27_1_cal
	adc27_2_cal
	adc27_3_cal

newpage 2 2
	title ADC27 vs ev num
	adc27_0_cal:ev_num -type cont0 
	adc27_1_cal:ev_num -type cont0 
	adc27_2_cal:ev_num -type cont0 
	adc27_3_cal:ev_num -type cont0 

newpage 2 2
	title ADC28 1D
	adc28_0_cal 
	adc28_1_cal
	adc28_2_cal
	adc28_3_cal

newpage 2 2
	title ADC28 vs ev num
	adc28_0_cal:ev_num -type cont0
	adc28_1_cal:ev_num -type cont0
	adc28_2_cal:ev_num -type cont0
	adc28_3_cal:ev_num -type cont0

newpage 2 2
	title ADC7 - BPM12
	adc7_0:ev_num raw_evcut
	adc7_1:ev_num raw_evcut
	adc7_2:ev_num raw_evcut
	adc7_3:ev_num raw_evcut

newpage 2 2
	title ADC12 - BPM4A
	adc12_0:ev_num raw_evcut
	adc12_1:ev_num raw_evcut
	adc12_2:ev_num raw_evcut
	adc12_3:ev_num raw_evcut

newpage 2 2
	title ADC14 - BPM4B
	adc14_0:ev_num raw_evcut
	adc14_1:ev_num raw_evcut
	adc14_2:ev_num raw_evcut
	adc14_3:ev_num raw_evcut

newpage 2 3
	title batteries
	batt1:ev_num
	batt3:ev_num
	batt4:ev_num
	batt6:ev_num
	batt7:ev_num
	batt8:ev_num

newpage 2 2
	title ADC8
	adc8_0:dac8
	adc8_1:dac8
	adc8_2:dac8
	adc8_3:dac8

newpage 2 2
	title ADC22
	adc22_0:dac22
	adc22_1:dac22
	adc22_2:dac22
	adc22_3:dac22

newpage 2 2
	title ADC29
	adc29_0:dac29
	adc29_1:dac29
	adc29_2:dac29
	adc29_3:dac29

newpage 2 2
	title ADC17
	adc17_0:dac17
	adc17_1:dac17
	adc17_2:dac17
	adc17_3:dac17

newpage 2 2
	title ADC26
	adc26_0:dac26
	adc26_1:dac26
	adc26_2:dac26
	adc26_3:dac26

newpage 2 2
	title ADC28
	adc28_0:dac28
	adc28_1:dac28
	adc28_2:dac28
	adc28_3:dac28

newpage 2 2
	title ADC29
	adc29_0_cal:ev_num
	adc29_1_cal:ev_num
	adc29_2_cal:ev_num
	adc29_3_cal:ev_num

newpage 2 2
	title ADC17
	adc17_0_cal:ev_num
	adc17_1_cal:ev_num
	adc17_2_cal:ev_num
	adc17_3_cal:ev_num

newpage 2 2
	title ADC26
	adc26_0_cal:ev_num
	adc26_1_cal:ev_num
	adc26_2_cal:ev_num
	adc26_3_cal:ev_num

newpage 2 2
	title ADC28
	adc28_0_cal:ev_num
	adc28_1_cal:ev_num
	adc28_2_cal:ev_num
	adc28_3_cal:ev_num

newpage 2 2
	title ADC2
	adc2_0:dac2
	adc2_1:dac2
	adc2_2:dac2
	adc2_3:dac2

newpage 2 2
	title ADC23
	adc23_0:dac23
	adc23_1:dac23
	adc23_2:dac23
	adc23_3:dac23

newpage 2 2
	title ADC22
	adc22_0:dac22
	adc22_1:dac22
	adc22_2:dac22
	adc22_3:dac22

newpage 2 2
	title ADC15
	adc15_0:dac15
	adc15_1:dac15
	adc15_2:dac15
	adc15_3:dac15

newpage 2 2
	title ADC11
	adc11_0:dac11
	adc11_1:dac11
	adc11_2:dac11
	adc11_3:dac11

newpage 2 2
	title ADC7
	adc7_0:dac7
	adc7_1:dac7
	adc7_2:dac7
	adc7_3:dac7

newpage 2 2
	title ADC12
	adc12_0:dac12
	adc12_1:dac12
	adc12_2:dac12
	adc12_3:dac12

newpage 2 2
	title ADC14
	adc14_0:dac14
	adc14_1:dac14
	adc14_2:dac14
	adc14_3:dac14

newpage 1 1
	asym_bcm3

newpage 1 1
	title Scan this!
	macro lmacro/panguin_scanner.C("asym_bcm3","pol1")
