# Configuration file for the online GUI 
# This file is for ADCs
#  All lines containing "#" are treated as comments (ignored)
#  Last line MUST be blank.
#  Multiple spaces are treated as one space.
# To switch to log scale, add the option logy after the name of 
# the histogram 

# Default root file to look at
#rootfile pan.root

# Prototype rootfilename.. overrides GetRootFileName.C
# protorootfile /adaql1/work1/parity/parity04_XXXXX_standard.root

# Defined cuts
# View last 1 minute of helicity windows (assumes no oversampling)
definecut raw_evcut  (Entries$-Entry$)<5000
# View last 1 minute of helicity pairs (assumes no oversampling)
definecut pair_evcut (Entries$-Entry$)<900

# Uncomment the below line to monitor the fill of a ROOTfile.
#watchfile

newpage 2 2
	title bcm vs ev num
	bcm1:ev_num
	bcm2:ev_num
	bcm3:ev_num
	bcm4:ev_num

newpage 2 2
	title bcm vs ev num (detail)
	bcm1:ev_num -type scat
	bcm2:ev_num -type scat
	bcm3:ev_num -type scat
	bcm4:ev_num -type scat

