# Configuration file for the online GUI 
# This file is for ADCs
#  All lines containing "#" are treated as comments (ignored)
#  Last line MUST be blank.
#  Multiple spaces are treated as one space.
# To switch to log scale, add the option logy after the name of 
# the histogram 

guicolor white
# Default root file to look at
rootfile  pan.root

# Prototype rootfilename.. overrides GetRootFileName.C
# protorootfile ROOTfiles/parity05_6127_standard.root

# Defined cuts
definecut evcut  (Entries$-Entry$<5000)&&ok_cut
definecut mevcut (Entries$-Entry$<900)

# Uncomment the below line to monitor the fill of a ROOTfile.
watchfile

newpage 2 3
	title X HC 100 keV 
	diff_bpm1I02x evcut
	diff_bpm1I04x evcut
	diff_bpm1I06x evcut
	diff_bpm0I02x evcut
	diff_bpm0I02Ax evcut
	diff_bpm0I05x evcut

newpage 2 3
	title Y HC 100 keV 
	diff_bpm1I02y evcut
	diff_bpm1I04y evcut
	diff_bpm1I06y evcut
	diff_bpm0I02y evcut
	diff_bpm0I02Ay evcut
	diff_bpm0I05y evcut

newpage 2 3
	title X HC 5 MeV 
	diff_bpm0L01x evcut
	diff_bpm0L02x evcut
	diff_bpm0L03x evcut
	diff_bpm0L04x evcut
	diff_bpm0L05x evcut
	diff_bpm0L06x evcut

newpage 2 3
	title Y HC 5 MeV 
	diff_bpm0L01y evcut
	diff_bpm0L02y evcut
	diff_bpm0L03y evcut
	diff_bpm0L04y evcut
	diff_bpm0L05y evcut
	diff_bpm0L06y evcut
newpage 2 3
	title X HC Hall A 
	diff_bpm0R05x evcut
	diff_bpm12x evcut
	diff_bpm10x evcut
	diff_bpm8x evcut
	diff_bpm4ax evcut
	diff_bpm4bx evcut

newpage 2 3
	title Y HC Hall A 
	diff_bpm0R05y evcut
	diff_bpm12y evcut
	diff_bpm10y evcut
	diff_bpm8y evcut
	diff_bpm4ay evcut
	diff_bpm4by evcut

newpage 2 3
	title Charge Asymmetry vs time
	asym_bcm6:m_ev_num evcut
	asym_bpm0L06ws:m_ev_num evcut
	asym_bpm0L05ws:m_ev_num evcut
	asym_bpm0L04ws:m_ev_num evcut
	asym_bpm0L03ws:m_ev_num evcut

newpage 2 3
	title Charge Asymmetry
	asym_bcm6 evcut
	asym_bpm0L06ws evcut
	asym_bpm0L05ws evcut
	asym_bpm0L04ws evcut
	asym_bpm0L03ws evcut

