# Configuration file for the online GUI 
# This file is for ADCs
#  All lines containing "#" are treated as comments (ignored)
#  Last line MUST be blank.
#  Multiple spaces are treated as one space.
# To switch to log scale, add the option logy after the name of 
# the histogram 

guicolor white
# Default root file to look at
rootfile pan.root

# Prototype rootfilename.. overrides GetRootFileName.C
# protorootfile /adaql1/work1/parity/parity04_XXXXX_standard.root

# Defined cuts
# View last 1 minute of helicity windows (assumes no oversampling)
definecut raw_evcut  (Entries$-Entry$)<1800
# View last 1 minute of helicity pairs (assumes no oversampling)
definecut pair_evcut (Entries$-Entry$)<900

# Uncomment the below line to monitor the fill of a ROOTfile.
watchfile

newpage 2 2
	title bcm6
	bcm6r:ev_num  raw_evcut
	bcm6:ev_num   raw_evcut
	bcm6          raw_evcut
	asym_bcm6     (pair_evcut)&&ok_cut

newpage 1 3
	title bpm1I02ws
	bpm1I02ws:ev_num   raw_evcut
	bpm1I02ws          raw_evcut
	asym_bpm1I02ws     (pair_evcut)&&ok_cut


newpage 1 3
        title 1I02
	macro lmacro/panguin_scanner.C("asym_bpm1I02ws","pol1")
	macro lmacro/panguin_scanner.C("diff_bpm1I02x","pol1")
	macro lmacro/panguin_scanner.C("diff_bpm1I02y","pol1")

newpage 1 3
        title 1I04
	macro lmacro/panguin_scanner.C("asym_bpm1I04ws","pol1")
	macro lmacro/panguin_scanner.C("diff_bpm1I04x","pol1")
	macro lmacro/panguin_scanner.C("diff_bpm1I04y","pol1")

newpage 1 3
        title 1I06
	macro lmacro/panguin_scanner.C("asym_bpm1I06ws","pol1")
	macro lmacro/panguin_scanner.C("diff_bpm1I06x","pol1")
	macro lmacro/panguin_scanner.C("diff_bpm1I06y","pol1")

newpage 1 3
        title 0I02
	macro lmacro/panguin_scanner.C("asym_bpm0I02ws","pol1")
	macro lmacro/panguin_scanner.C("diff_bpm0I02x","pol1")
	macro lmacro/panguin_scanner.C("diff_bpm0I02y","pol1")

newpage 1 3
        title 0I02A
	macro lmacro/panguin_scanner.C("asym_bpm0I02Aws","pol1")
	macro lmacro/panguin_scanner.C("diff_bpm0I02Ax","pol1")
	macro lmacro/panguin_scanner.C("diff_bpm0I02Ay","pol1")

newpage 1 3
        title 0I05
	macro lmacro/panguin_scanner.C("asym_bpm0I05ws","pol1")
	macro lmacro/panguin_scanner.C("diff_bpm0I05x","pol1")
	macro lmacro/panguin_scanner.C("diff_bpm0I05y","pol1")

newpage 1 3
        title 0L01
	macro lmacro/panguin_scanner.C("asym_bpm0L01ws","pol1")
	macro lmacro/panguin_scanner.C("diff_bpm0L01x","pol1")
	macro lmacro/panguin_scanner.C("diff_bpm0L01y","pol1")

newpage 1 3
        title 0L02
	macro lmacro/panguin_scanner.C("asym_bpm0L02ws","pol1")
	macro lmacro/panguin_scanner.C("diff_bpm0L02x","pol1")
	macro lmacro/panguin_scanner.C("diff_bpm0L02y","pol1")

newpage 1 3
        title 0L03
	macro lmacro/panguin_scanner.C("asym_bpm0L03ws","pol1")
	macro lmacro/panguin_scanner.C("diff_bpm0L03x","pol1")
	macro lmacro/panguin_scanner.C("diff_bpm0L03y","pol1")




