# Configuration file for the online GUI 
# This file is for ADCs
#  All lines containing "#" are treated as comments (ignored)
#  Last line MUST be blank.
#  Multiple spaces are treated as one space.
# To switch to log scale, add the option logy after the name of 
# the histogram 

guicolor white

# Default root file to look at
rootfile pan.root

# Prototype rootfilename.. overrides GetRootFileName.C
# protorootfile /adaql1/work1/parity/parity04_XXXXX_standard.root

# Defined cuts
definecut evcut  (ev_num>1000)
definecut mevcut (m_ev_num>1000)

# Uncomment the below line to monitor the fill of a ROOTfile.
watchfile


newpage 1
        title bpm1I02
        macro /adaqfs/home/apar/happex3/ipan/lmacro/inj_trans.C("bpm1I02")
        
newpage 1
        title bpm1I04
        macro /adaqfs/home/apar/happex3/ipan/lmacro/inj_trans.C("bpm1I04")
        
newpage 1
        title bpm1I06
        macro /adaqfs/home/apar/happex3/ipan/lmacro/inj_trans.C("bpm1I06")
        
newpage 1
        title bpm0I02
        macro /adaqfs/home/apar/happex3/ipan/lmacro/inj_trans.C("bpm0I02")
        
newpage 1
        title bpm0I02A
        macro /adaqfs/home/apar/happex3/ipan/lmacro/inj_trans.C("bpm0I02A")
        
newpage 1
        title bpm0I05
        macro /adaqfs/home/apar/happex3/ipan/lmacro/inj_trans.C("bpm0I05")
        
newpage 1
        title bpm0L01
        macro /adaqfs/home/apar/happex3/ipan/lmacro/inj_trans.C("bpm0L01")
        
newpage 1
        title bpm0L02
        macro /adaqfs/home/apar/happex3/ipan/lmacro/inj_trans.C("bpm0L02")
        
newpage 1
        title bpm0L03
        macro /adaqfs/home/apar/happex3/ipan/lmacro/inj_trans.C("bpm0L03")
        
newpage 1
        title bpm0L04
        macro /adaqfs/home/apar/happex3/ipan/lmacro/inj_trans.C("bpm0L04")
        
        
